# See https://wiki.hyprland.org/Configuring/Keywords/

$mainMod = SUPER # Sets "Windows" key as main modifier

$menu = fuzzel
$terminal = wezterm
$fileManager = wezterm start --always-new-process yazi


# Apps
bind = $mainMod, T, exec, $terminal
bind = $mainMod, RETURN, exec, $menu
bind = $mainMod, E, exec, $fileManager
bind = $mainMod, C, killactive,
# bind = $mainMod, M, exit,
bind = $mainMod, F, togglefloating,
bind = $mainMod, P, pseudo, # dwindle
bind = $mainMod, V, togglesplit, # dwindle

# Screencap
bindd = $mainMod, S, Screenshot, exec, slurp | grim -g - - | wl-copy
bindd = $mainMod SHIFT, S, Swappy Screenshot, exec, grim -g "$(slurp)" - | tee /tmp/screenshot.png | wl-copy && swappy -f /tmp/screenshot.png -o ~/Pictures/swappy/$(date +%F_%H-%M-%S).png
bind = $mainMod SHIFT, S, exec, grim -g "$(slurp)" - | tee /tmp/screenshot.png | wl-copy && swappy -f /tmp/screenshot.png -o ~/Pictures/swappy/$(date +%F_%H-%M-%S).png
$recPath = ~/Videos/screenrec/
bind = $mainMod ALT, S, exec, wl-screenrec -g "$(slurp)" --audio --filename $recPath$(date +%F_%H-%M-%S).mp4 &; notify-send "Screenrec started"
bind = $mainMod ALT SHIFT, S, exec, pkill wl-screenrec && notify-send "Screenrec saved to $recPath"



# Move focus
bind = $mainMod, J, movefocus, d
bind = $mainMod, K, movefocus, u
bind = $mainMod, H, movefocus, l
bind = $mainMod, L, movefocus, r

# Move window
bind = $mainMod ALT, J, movewindow, d
bind = $mainMod ALT, K, movewindow, u
bind = $mainMod ALT, H, movewindow, l
bind = $mainMod ALT, L, movewindow, r



# Cycle workspaces
# 'visible' to cycle through all workspaces -> doesn't include non-active workspaces unfortunately
bind = $mainMod, O, workspace, m-1
bind = $mainMod, I, workspace, m+1
# [ ] keybinds not caught for some reason
bind = $mainMod ALT, O, movetoworkspace, m-1
bind = $mainMod ALT, I, movetoworkspace, m+1
#bind = $mainMod, O, cyclenext, visible

bind = $mainMod, mouse:275, workspace, m+1
bind = $mainMod, mouse:276, workspace, m-1
bind = $mainMod ALT, mouse:275, movetoworkspace, m+1
bind = $mainMod ALT, mouse:276, movetoworkspace, m-1
bind = ALT_L, TAB, workspace, m+1
bind = ALT_L SHIFT, TAB, workspace, m-1

# Example special workspace (scratchpad)
bind = $mainMod, SPACE, togglespecialworkspace, magic
bind = $mainMod SHIFT, SPACE, movetoworkspace, special:magic



# Resize window
bind = $mainMod, left, resizeactive, -50 0 
bind = $mainMod, right, resizeactive, 50 0 
bind = $mainMod, up, resizeactive, 0 -50
bind = $mainMod, down, resizeactive, 0 50
#
# Move/resize windows with mainMod + LMB/RMB and dragging
bindm = $mainMod, mouse:272, movewindow
bindm = $mainMod, mouse:273, resizewindow


bind = $mainMod, B, submap, buffer
submap = buffer
bind = , 1, workspace, 1
bind = , 2, workspace, 2
bind = , 3, workspace, 3
bind = , 4, workspace, 4
bind = , 5, workspace, 5
bind = , 6, workspace, 6
bind = , 7, workspace, 7
bind = , 8, workspace, 8
bind = , 9, workspace, 9
bind = , catchall, submap, reset
submap = reset


# Switch workspaces with mainMod + [0-9]
bind = $mainMod, 1, workspace, 1
bind = $mainMod, 2, workspace, 2
bind = $mainMod, 3, workspace, 3
bind = $mainMod, 4, workspace, 4
bind = $mainMod, 5, workspace, 5
bind = $mainMod, 6, workspace, 6
bind = $mainMod, 7, workspace, 7
bind = $mainMod, 8, workspace, 8
bind = $mainMod, 9, workspace, 9
bind = $mainMod, 0, workspace, 10

# Move active window to a workspace with mainMod + SHIFT + [0-9]
bind = $mainMod ALT, 1, movetoworkspace, 1
bind = $mainMod ALT, 2, movetoworkspace, 2
bind = $mainMod ALT, 3, movetoworkspace, 3
bind = $mainMod ALT, 4, movetoworkspace, 4
bind = $mainMod ALT, 5, movetoworkspace, 5
bind = $mainMod ALT, 6, movetoworkspace, 6
bind = $mainMod ALT, 7, movetoworkspace, 7
bind = $mainMod ALT, 8, movetoworkspace, 8
bind = $mainMod ALT, 9, movetoworkspace, 9
bind = $mainMod ALT, 0, movetoworkspace, 10


# Scroll through existing workspaces with mainMod + scroll
# bind = $mainMod, mouse_down, workspace, e+1
# bind = $mainMod, mouse_up, workspace, e-1


{{- if eq .chezmoi.hostname "cordyceps" }}
# # Laptop multimedia keys for volume and LCD brightness
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume -l 1 @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
# bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
# bindel = ,XF86MonBrightnessUp, exec, brightnessctl -e4 -n2 set 5%+
# bindel = ,XF86MonBrightnessDown, exec, brightnessctl -e4 -n2 set 5%-
bind = , XF86MonBrightnessUp, exec, brightnessctl s +10%
bind = , XF86MonBrightnessDown, exec, brightnessctl s 10%-

# # Requires playerctl
# bindl = , XF86AudioNext, exec, playerctl next
# bindl = , XF86AudioPause, exec, playerctl play-pause
# bindl = , XF86AudioPlay, exec, playerctl play-pause
# bindl = , XF86AudioPrev, exec, playerctl previous
{{- end }}
